
a{
        text-decoration: none;
        color:black;
}
      
a:visited{
color:black;
}

nav{
        display: flex;
        margin-bottom: 20px;
        
}

nav div{
    color: #f85555;
    display: block;
    flex: 1 1;
    font-size: 2.0rem;
    font-weight: 700;
    padding: 14px 20px;
    border: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.2);
    text-align: left;
}

nav div:hover{
        cursor: pointer;
}

nav button{
        background: none;
    border: none;
    color: #ababab;
    font-size: 1.4rem;
    line-height: 0;
    padding: 14px;
    text-align: center;
    width: 15%;
    border: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.2);
}

nav button:hover{
        cursor: pointer;
}


main{
        display: flex;
        
}

.products ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        
}

.products ul li{
    width: 50%;
    border: 2px;
    border-style: solid;
   border-color: rgba(0,0,0,0.2);
   margin: 10px;
   min-width: 250px;
  max-width: 250px;
  border-radius: 5px;
 

        
}

.products ul li:hover{
        transform: scale(1.1);
  transition: 100ms linear;
}

.image{
        height: 250px;
        padding: 10px;
}

.image img{
        width: 50%;
        height: 50%;
}

.navbar{
        position: relative;
}

.login{
        box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
        padding: 20px;
        position: absolute;
        transform: scale(0);
       background: #fff;
        transform-origin: top;
        transition: .5s ease-in-out;
        width: 300px;
        top: 70px;
        right: 300px;
        
       
    }

.login .open{
        transform: scale(1);
    }

    .lg{
            display: flex;
            flex-direction: column;
    }

    .lg button{
        background: #f85555;
        color: #fff;
        margin: 10px 0 25px;
        padding: 9px;
        width: 100%;
        cursor: pointer;
        outline: none;
        border: none;
    }

    .lg input{
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        display: block;
        margin-top: 4px;
        padding: 6px 8px;
        width: 100%;
        outline: none;
    }

    .lo{
        background: #f85555;
        color: #fff;
        margin: 10px 0 25px;
        padding: 9px;
        width: 100%;
        cursor: pointer;
        outline: none;
        border: none;  
    }